
@import "variables.less";
@import "mixins.less";
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

/* font-family: "Crimson Regular"; */
@font-face {
	font-family: "Crimson";
	src: url("../fonts/crimson/crimson-roman-webfont.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

/* font-family: "Crimson Bold"; */
@font-face {
	font-family: "Crimson Bold";
	src: url("../fonts/crimson/crimson-bold-webfont.ttf") format("truetype");
	font-style: normal;
	font-weight: bold;
}

/* font-family: "Crimson Italic"; */
@font-face {
	font-family: "Crimson Italic";
	src: url("../fonts/crimson/crimson-italic-webfont.ttf") format("truetype");
	font-style: italic;
	font-weight: normal;
}

* {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

html,
body {
	height: 100%;
	font-family: "Crimson", "Arial", sans-serif;
	background-color: @background_color;
}
ul {
	padding:0;
	list-style: none;
}
a {
	text-decoration: none;
	color: @link_color;
	&:hover,
	&:active {
		color: @link_hover_color;
	}
}

// Main page
.ma-header {
	background-color: @main_color;
	height: 100%;
}
.ma-container {
	width: 90%;
	margin: auto;
	position: relative;
}
.ma-top-line {
	// background: @add_color;
	height: 80px;
	.flex-display();
	.justify-content(space-between);

	.ma-top-logo {
		position: relative;
		height:100%;
		.ma-logo__text {
			margin-left: 5vw;
			font-family: "Montserrat";
			color:#fff;
			font-weight:700;
			font-size:1.5rem;
		}
		.ma-logo__img {
			background-image: url("../img/Logo.png");
			background-repeat: no-repeat;
			background-size: cover;
			height: 50px;
			width: 50px;
			top: 15px;
			position: absolute;

		}
	}

	.ma-top-menu {
		.flex-display();
		.justify-content(space-between);
		margin:0;
		width: 30vw;
		.ma-menu-item {

			.menu-item__link{
				display: block;
				padding-top: 32px;
			}
		}
	}
}

.ma-header-image {
	margin: auto;
	width: 50vw;

	.ma-image__pic {
		width: 100%;
		height: 100%;
	}
}
.ma-header__text {
	color: @header_color;
	text-align: center;
	font-style: italic;

	&:after {
		content: '\f176';
		display: block;
		position: absolute;
		transform:rotate(180deg);
		right:50%;
		top: 102%;
		font-style:normal;
		font-family: fontawesome;

	}

}
.ma-header__button {
	display: block;
	padding: 10px 20px;
	color:@sub_color;
	border: 1px solid @header_color;
	text-transform: uppercase;
	width: 165px;
	font-family: "Montserrat";
	font-weight: 700;
	float: right;
}

.ma-perfection {
	// height: 100vh;
	background-color: @background_color;
	text-align:center;
	.ma-perfection-head {
		background-image: url(../img/Gratia-transparent.png);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: top;
		margin: 10vh auto;
		width: 33vw;
		height: 22vh;

		.ma-perfection__title{
			text-transform: uppercase;
			font-family: "Montserrat";
			padding-top: 5vh;
		}
		.ma-perfection__text {
			// font: @text_font;
			color: @add_color;
		}
	}
	.ma-perfection-row{
		.flex-display();
		.justify-content(space-between);
		.align-content(flex-end);
		height: 75vh;

		.ma-perfection-item{
			width: 25vw;

			.ma-item__img{
				width: 100%;
			}

		}
	}
	.ma-perfection-link {
		text-transform: uppercase;
		color: @sub_color;
		// font:
		font-weight: 700;

		&:hover,
		&:active {
			text-decoration: underline;
		}
	}
}

.ma-details {
	background-image:url(../img/Main-dtails_02.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 50vh;
	position: relative;

	.ma-details-block{
		position:absolute;
		text-align: center;

		.ma-block__title{
			text-transform: uppercase;
		}
		.ma-block__text {
			color:@add_color;
		}
	}
}

// End main page

// menu page

.ma-descr{
	.flex-display();
	.flex-direction(column);
	.align-items(center);
	text-align: center;
	margin: auto;
	background-image: url(../img/Gratia-transparent.png);
	background-size:cover;
	width: 33vw;
	background-repeat: no-repeat;
	margin-bottom: 5vh;
	margin-top: 5vh;
	.ma-descr__title {
		font: @header_font;
	}

	.ma-descr__text {
		font: @text_font;
		color: @add_color;

	}
}


.ma-menu {
	.flex-display();
	.flex-direction(column);
	background-color: @menu_color;
	.justify-content(space-between);


}

.ma-row  {
	.flex-display();
	.justify-content(space-around);
	margin-bottom: 5vh;
}

.ma-menu-item {
	.box-shadow(0px 0px 71px -16px rgba(0,0,0,0.3));
	width: 25%;
	.flex-display();
	.flex-direction(column);
	.align-items(center);
	background-color: @background_color;

	.ma-menu-img {

		.ma-menu__pic{
			width: 100%;
		}
	}
	.ma-menu__title {
		font: @header_font;

	}

	.ma-menu__text{
		text-align: center;
		font: @text_font;
		color: @add_color;

	}

}

.ma-footer {
	.flex-display();
	.flex-direction(column);
	.align-items(center);
	text-align: center;
	margin: auto;
	width: 100vw;

	background-color: @menu_color;
	.ma-footer__title {
		font:@avg_font;

	}
	.ma-footer__text {
		font: @text_font;
		color: @add_color;
	}

	.ma-footer-icons{
		.flex-display();
		.flex-direction(row);
		.align-items(center);
	}
	.ma-footer-icons__icon {
		color: @add_color;
		margin:15px;

	}
}

.ma-footer-icons__icon:hover {
	color: @link_hover_color;
}

// end menu page
