@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
/* font-family: "Crimson Regular"; */
@font-face {
  font-family: "Crimson";
  src: url("../fonts/crimson/crimson-roman-webfont.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "Crimson Bold"; */
@font-face {
  font-family: "Crimson Bold";
  src: url("../fonts/crimson/crimson-bold-webfont.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
}
/* font-family: "Crimson Italic"; */
@font-face {
  font-family: "Crimson Italic";
  src: url("../fonts/crimson/crimson-italic-webfont.ttf") format("truetype");
  font-style: italic;
  font-weight: normal;
}
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-family: "Crimson", "Arial", sans-serif;
  background-color: #151a28;
}
ul {
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
  color: #fff;
}
a:hover,
a:active {
  color: #d89b64;
}
