@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
/* font-family: "Crimson Regular"; */
@font-face {
  font-family: "Crimson";
  src: url("../fonts/crimson/crimson-roman-webfont.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "Crimson Bold"; */
@font-face {
  font-family: "Crimson Bold";
  src: url("../fonts/crimson/crimson-bold-webfont.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
}
/* font-family: "Crimson Italic"; */
@font-face {
  font-family: "Crimson Italic";
  src: url("../fonts/crimson/crimson-italic-webfont.ttf") format("truetype");
  font-style: italic;
  font-weight: normal;
}
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-family: "Crimson", "Arial", sans-serif;
  background-color: #8b909d;
}
ul {
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
  color: #fff;
}
a:hover,
a:active {
  color: #d89b64;
}
.ma-descr {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  text-align: center;
  margin: auto;
  background-image: url(../img/Gratia-transparent.png);
  background-size: cover;
  width: 33vw;
  background-repeat: no-repeat;
  margin-bottom: 5vh;
  margin-top: 5vh;
}
.ma-descr .ma-descr__title {
  font: 700 30px/70px "Montserrat";
}
.ma-descr .ma-descr__text {
  font: 14px "Crimson italic";
  color: #8b909d;
}
.ma-menu {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #fff;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
}
.ma-row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-justify-content: space-around;
  justify-content: space-around;
  margin-bottom: 5vh;
}
.ma-menu-item {
  -webkit-box-shadow: 0px 0px 71px -16px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 71px -16px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 71px -16px rgba(0, 0, 0, 0.3);
  width: 25%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  background-color: #fff;
}
.ma-menu-item .ma-menu-img .ma-menu__pic {
  width: 100%;
}
.ma-menu-item .ma-menu__title {
  font: 700 30px/70px "Montserrat";
}
.ma-menu-item .ma-menu__text {
  text-align: center;
  font: 14px "Crimson italic";
  color: #8b909d;
}
.ma-footer {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  text-align: center;
  margin: auto;
  width: 100vw;
  background-color: #fff;
}
.ma-footer .ma-footer__title {
  font: 700 15px/20px "Montserrat";
}
.ma-footer .ma-footer__text {
  font: 14px "Crimson italic";
  color: #8b909d;
}
.ma-footer .ma-footer-icons {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
}
.ma-footer .ma-footer-icons__icon {
  color: #8b909d;
  margin: 15px;
}
.ma-footer-icons__icon:hover {
  color: #d89b64;
}
.ma-burger {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  margin: 2em;
  text-align: center;
  width: 75%;
  margin: auto;
}
.ma-burger .ma-burger__img {
  background-image: url(../img/Meal-hambuerger.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 50%;
  height: 100vh;
}
.ma-burger-descr {
  width: 50%;
}
.ma-burger-descr-two {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  justify-content: space-between;
  text-align: left;
  padding: 4em;
  border-top: 1px solid #8b909d;
  border-bottom: 1px solid #8b909d;
  margin-top: 7em;
  margin-bottom: 7em;
}
.ma-burger-descr-one__item {
  font: 700 30px/70px "Montserrat";
}
.ma-burger-descr-one__text {
  font: 14px "Crimson italic";
  color: #8b909d;
}
.ma-burger-descr-two__comp {
  font: 700 15px/20px "Montserrat";
}
.ma-burger-descr-two__descr {
  color: #8b909d;
}
.ma-burger-descr-three__title {
  font: 700 30px/70px "Montserrat";
  color: #a1b561;
}
.ma-burger-descr-three__text {
  font: 14px "Crimson italic";
  color: #8b909d;
}
.ma-booking {
  width: 75%;
  margin: auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.ma-booking-date__half {
  width: 49%;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: -ms-inline-flex;
  display: inline-flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1.5em;
}
.ma-booking-date__day {
  width: 30%;
  font: 700 15px/20px "Montserrat";
  color: black;
  height: 2.5em;
  background-color: white;
  border: none;
}
.ma-booking-date__text {
  width: 30%;
  font: 700 15px/20px "Montserrat";
  color: black;
  height: 2.5em;
  background-color: white;
  border: none;
}
.ma-booking-date__year {
  width: 30%;
  font: 700 15px/20px "Montserrat";
  color: black;
  height: 2.5em;
  background-color: white;
  border: none;
}
.ma-booking-date__hour {
  width: 47%;
  font: 700 15px/20px "Montserrat";
  color: black;
  height: 2.5em;
  background-color: white;
  border: none;
}
.ma-booking-date__people {
  width: 47%;
  font: 700 15px/20px "Montserrat";
  color: black;
  height: 2.5em;
  background-color: white;
  border: none;
}
.ma-booking-date__name {
  width: 49%;
  font: 700 15px/20px "Montserrat";
  color: black;
  height: 2.5em;
  margin-bottom: 1.5em;
  background-color: white;
  border: none;
}
.ma-booking-date__tel {
  width: 49%;
  font: 700 15px/20px "Montserrat";
  color: black;
  height: 2.5em;
  margin-bottom: 1.5em;
  background-color: white;
  border: none;
}
.ma-booking-date__email {
  width: 49%;
  font: 700 15px/20px "Montserrat";
  color: black;
  height: 2.5em;
  margin-bottom: 1.5em;
  background-color: white;
  border: none;
}
.ma-booking-date__button {
  width: 49%;
  font: 700 15px/20px "Montserrat";
  color: #fd8d7b;
  height: 2.5em;
  text-align: left;
  background-color: black;
  border: none;
  margin-bottom: 1.5em;
}
.ma-booking-text__message {
  width: 100%;
  margin-bottom: 1.5em;
  font: 700 15px/20px "Montserrat";
  background-color: white;
  border: none;
}
.ma-booking-text__button {
  width: 100%;
  font: 700 15px/20px "Montserrat";
  color: white;
  height: 2.5em;
  background-color: #fd8d7b;
  border: none;
}
